[2017-04-07 05:08] ice09 opened #2 "Title is wrong"
small spelling error in README:

etherum-utils -> ethereum-utils

[2017-04-07 14:37] pipermerriam commented on #2
Thanks.  Fixed

[2017-04-07 14:37] #2 closed

[2017-04-10 13:15] reiven opened #3 "Missing to_normalized_address example in README"
Hi!

Looks like the _to_normalized_address_ in README is merely copy of _to_checksum_address_.
It will be great to include the correct explanation and sample of it

![image](https://cloud.githubusercontent.com/assets/362717/24863273/88d60b90-1dd6-11e7-97a2-608689b48b5c.png)

[2017-04-10 15:39] pipermerriam commented on #3
fixed via 148cb34442840f272c240c6b658845db2139b98b

Thanks for catching this.

[2017-04-10 15:39] #3 closed

[2017-06-28 18:18] reiven opened #4 "Wrong function_signature_to_4byte_selector sample in README"
The sample call to *function_signature_to_4byte_selector* in README is wrong, using *function_abi_to_4byte_selector* (probably copy/pasted)

I'll send a PR to fix it

[2017-06-28 20:31] #4 closed

[2017-07-05 03:38] miohtama opened #7 "Validating Ethereum address"
What is the best way to validate Ethereum address, assuming it might or might not be checksummed? This was not immediately clear from the APIs.

[2017-07-05 04:52] pipermerriam commented on #7
The [`is_address`](https://github.com/pipermerriam/ethereum-utils#is_addressvalue---bool) function is the most broad.  The README covers all of the formats that it will accept.

There are 3 more functions for checking for more specific address formats.

* [`is_canonical_address`](https://github.com/pipermerriam/ethereum-utils#is_canonical_addressvalue---bool)
* [`is_checksum_address`](https://gith

[2017-07-05 04:55] miohtama commented on #7
Perfect, thank you!

[2017-07-07 18:23] pinheadmz opened #8 "AssertionError on import (wrong keccak function?) OSX, python 2.7.13"
Not sure what I've got wrong here:

[code]

[2017-07-07 18:26] pinheadmz commented on #8
OK! I needed to run `python3` not `python`

[2017-07-07 18:26] #8 closed

[2017-07-10 00:07] reiven opened #9 "Typo and samples in README"
In *is_string* sample, there is a typo 'bytearra' instead of 'bytearray'
In * is_text* all the samples are using *is_string*

I'll open a PR to fix that

[2017-07-10 17:08] pipermerriam commented on #9
fixed with #10

[2017-07-10 17:08] #9 closed

[2017-07-31 04:47] pipermerriam opened #14 "Switch to `ctoolz` library."
### What was wrong?

The `toolz` library is pretty awesome, but it is all pure python and thus, as slow as other pure python *stuff*.

Turns out there is a c implementation of the entire library!  https://pypi.python.org/pypi/cytoolz

### How can it be fixed?

Change to use [`ctoolz`](https://pypi.python.org/pypi/cytoolz)

[2017-08-03 08:13] miohtama commented on #7
Does this approach look sane? It's based on real world hand typed Ethereum address input data.

            # Check for any Ethereum address
            try:
                if not is_hex_address(address):
                    errors.append((csv_file, line, "Not an Ethereum address: {}".format(address)))
                    continue
            except UnicodeEncodeError:
                errors.appe

[2017-08-03 17:03] pipermerriam commented on #7
There's a new (`is_checksum_formatted_address`](https://github.com/pipermerriam/ethereum-utils#is_checksum_formatted_addressvalue---bool) function that you can use in place of your `c.isupper()` approach if your inclined to use it.  Otherwise, yes, this looks like the right code.

[2017-08-03 17:03] #7 closed

[2017-09-21 05:01] Alegzander opened #17 "to_wei calculates inaccurate when value less then 1 submitted"
## What is wrong?

I've fell into issue with to_wei  when working with [web3.py](https://github.com/pipermerriam/web3.py) library and found out that it uses `eth_utils.currency.to_wei` to proceed calculation.

Short description on how I fell into issue.

I was working with smart-contract where I need to setup amount of ether it should accept to prevent cases when user submitted wrong amount.
Varia

[2017-09-21 18:55] #17 closed

[2017-09-21 23:51] carver commented on #17
For anyone looking for a workaround, you can use: `web3.toWei(str(0.05), 'ether')`

ie~ `web3.toWei('0.05', 'ether')`

[2017-09-22 02:16] pipermerriam commented on #17
or upgrade to `ethereum-utils>=0.4.1`

[2017-11-01 02:23] pipermerriam opened #24 "`to_wei` does not handle floating point numbers correctly"
### What is wrong

The `to_wei` function doesn't handle floating point numbers in the expected way.

[code]

### How can it be fixed

We *should* be able to use the string representation of floating point numbers to achieve precise conversions in this case.

[2017-11-07 20:31] #24 closed

[2017-11-24 08:42] gsalgado opened #28 "Add type hints"
### What was wrong?

Python's dynamic-typing nature makes it impossible to perform static type checking

### How can it be fixed?

We can add type hints (like in https://github.com/ethereum/ethereum-keys/pull/19) and use mypy to perform static type checking, and hopefully catch bugs before they affect our users. Just like in the PR above, pyannotate can be used to generate initial type hints

[2017-12-16 05:29] themusicgod1 opened #30 "makefile testall scenario slightly off"
* Version: 1.0.0
* Python: 3.6
* OS: ubuntu 17.10 artful

### What was wrong?

Makefile shows:

@echo "testall - run tests on every Python version with tox"

but the actual scenario is

test-all:
	tox

### How can it be fixed?

either change test-all to testall or testall to test-all.

[2017-12-16 05:50] themusicgod1 opened #31 "pytest No module named eth_utils"
* Version: 1.0.0
* Python: 2.7.14-2ubuntu1 / 3.6.3-0ubuntu2
* OS: ubuntu 17.10 artful

### What was wrong?

compiling with either python3 or python, it doesn't seem to matter: eth_utils is not found by pytest.

make test
py.test tests
========================================================================== test session starts ======================================================================

[2017-12-16 22:12] themusicgod1 commented on #31
Figured at least out what causes it.

if
 __version__ = pkg_resources.get_distribution("eth_utils").version

is commented out, it builds just fine, at least with python3 (3.6)

[2017-12-16 22:18] themusicgod1 opened #32 "python 3.6 (3.7?) in setup.py and elsewhere"
* Version: 1.0.0
* Python: 3.6 / 3.7
* OS: ubuntu 18.04 bionic / *

### What was wrong?

Right now in setup.py and elsewhere there's some hardcoded mentioning of python 3.4 3.5 ...but now with 3.6 (and 3.7?) out it's probably a good idea to explicitly bump that version in there too.

ie
        'Programming Language :: Python :: 3.4',
        'Programming Language :: Python :: 3.5',
    ],

to

[2017-12-18 16:28] #30 closed

[2017-12-18 16:56] #31 closed

[2017-12-18 17:11] pipermerriam commented on #32
fixed via #35

[2017-12-18 17:11] #32 closed

[2017-12-21 17:54] pipermerriam opened #36 "Deprecate and remove `force_text` and `force_bytes` and dependent functions."
### What was wrong?

The `force_bytes` and `force_text` functions are bad.  They use `latin1` encoding due to the fact that `utf8` cannot encode all of the bytes values between 0-255.  This has caused much confusion given that `utf8` is the *default* encoding that most people expect.

### How can it be fixed?

Fully deprecate the *automatic* coercion of `text -> bytes` and `bytes -> text` includin

[2018-01-19 08:39] sergeybe opened #44 "Default context of decimals changes after import"
### What was wrong?

Problem is here:
https://github.com/ethereum/eth-utils/blob/master/eth_utils/currency.py#L11

`decimal.DefaultContext.prec = 999`

My application uses other precision `prec=28` but package changes global variable after import. It's not good behavior for libraries.

### How can it be fixed?

I suppose this line should be removed from library or it should use a local context ins

[2018-01-19 14:02] pipermerriam commented on #44
Yes, we should switch to use a local context.

[2018-01-19 14:03] pipermerriam commented on #44
@njgheorghita this would be a good one for you if you're up for it

[2018-01-20 21:26] pipermerriam commented on #44
@njgheorghita you should claim the bounty for this one.

[2018-01-21 02:15] #44 closed

[2018-01-21 02:22] pipermerriam opened #46 "Stable 0.x branch and backport fixes"
Need to create a `v0` branch from the latest `v0.x.x` release and backport https://github.com/ethereum/eth-utils/pull/45 into it.

[2018-01-23 16:40] vs77bb commented on #44
Hi @pipermerriam @njgheorghita is this one still in progress? Correct me if I'm wrong @owocki: issue can remain open while claimed, and @gitcoinbot will post again when the bounty is fulfilled.

[2018-01-23 17:59] njgheorghita commented on #44
Hey @vs77bb, not sure about gitcoinbot, but this issue has been completed and fulfilled

[2018-01-23 18:13] pipermerriam commented on #44
@vs77bb this should be done.  I *thought* I did the things I needed to do to issue the payment.  Correct me if I missed something.

[2018-01-23 18:14] pipermerriam commented on #44
Hrm, I get this when I try to accept the work.

<img width="592" alt="screen shot 2018-01-23 at 11 13 45 am" src="https://user-images.githubusercontent.com/824194/35292690-89cf541c-002e-11e8-8859-42c8d20b46c7.png">

[2018-01-23 19:54] owocki commented on #44
just went in and re-processed piper's fulfillment tx.  this is something we're looking to automate long term... thanks for bearing with us folks.

[2018-01-24 01:36] carver opened #47 "Extract many utilities from web3 into eth-utils"
## What was wrong?

Web3.py has added a number of utilities that other Ethereum libraries might find useful. For example, we are in the process of extracting the local signing code from web3 to `eth-account` (working name), and it depends on datastructures, conversions, and decorators that don't really have much to do with Web3, but are currently housed there.

## How can it be fixed?

### Extract

[2018-01-24 02:30] carver commented on #47
Some RLP utilities would be nice. The `ExtendedRLP` class would be nice to share (maybe renamed to `HashableRLP` or something). But adding a dependency to pyrlp feels a bit wrong. Thoughts?

Maybe it belongs in another eth-rlp that depends on rlp and eth-utils.

[2018-01-24 02:58] pipermerriam commented on #47
I'm thinking that we could make some *micro* packages for some of the data structures to avoid bloating eth-utils.  I'd be good with the following

- bring in all the encoding utils listed.
- `AttributeDict` to it's own package **if** we have a secondary use case for it.
- `HexBytes` to it's own package **if** we have a secondary use case for it.
- `ExtendedRLP -> HashableRLP` to it's own package

[2018-01-24 02:59] pipermerriam commented on #47
oh, and what's the secondary use case for `combomethod`?

[2018-01-24 03:09] carver commented on #47
(Guessing at the second half of the sentence) Yeah, actually maybe that's only useful in `eth-account`. I'll keep futzing with it.

Relatively minor, maybe there's some better solution: `Account` can be used statically with the default eth-keys backend, or you can initialize it and set a different eth-keys backend on your instance.

[2018-01-24 18:35] carver commented on #47
HexBytes to it's own package if we have a secondary use case for it.

Since `eth-account` will be a proper end-user package (you could theoretically use it without web3), I'd like to keep returning values in friendly ways. That means joint key and attribute access (`AttributeDict`), and pretty display of `bytes` at the console (`HexBytes`).

I don't know if I will have the time to make separate pa

[2018-01-24 18:53] pipermerriam commented on #47
Are you good with the following package names.  I'll stub them out so that they're ready for us.

- Thoughts on using: https://github.com/bcj/AttrDict ?  Brief scan of the docs suggest we should be able to just use it as a drop-in replacement.  Would be nice to extend the tests to our python versions.
- `property-dict` if we want to roll our own.
- `hexbytes`
- `eth-validation`

[2018-01-24 20:28] carver commented on #47
I am good with it. The only difference is that ours is immutable, and they seem unlikely to implement that any time soon: https://github.com/bcj/AttrDict/issues/28 . It's worth the tradeoff to me. Or maybe if it's okay to locally deal with it by choosing an immutable dict library and defining `FrozenAttrDict = compose(AttrDict, frozendict)`.

If we need to roll our own, then I like attribute, sinc

[2018-01-25 17:11] carver opened #48 "Stop encoding keccak arguments with latin-1"
### What was wrong?

`eth_utils.keccak()` is encoding text arguments with `latin-1`. This is different from behavior of other eth libraries.

This is a sub-task of #36

See https://gist.github.com/holiman/6f57cb5b082b6712b9e8c19fe48ca960#gistcomment-2332077

### How can it be fixed?

One of:

- only accept bytes as argument
- convert text to utf-8
- **Edit:** use the `(primitive=None, texstr=None,

[2018-01-26 18:01] pipermerriam commented on #48
How about changing the signature to match the convention we've been establishing elsewhere.

[code]

[2018-02-09 01:06] carver commented on #48
Closed by #57

[2018-02-09 01:06] #48 closed

[2018-02-09 01:26] #47 closed

[2018-02-12 18:06] carver opened #60 "Validate text and hexstr parameters are str type"
* Version: 1

### What was wrong?

See [this comment](https://github.com/ethereum/eth-utils/pull/58#discussion_r167601284) about `bytes` being passed to `to_text` as `text=`. In that case `to_text()` returned a `bytes` value, which seems wrong.

### How can it be fixed?

Raise an exception if the `text` or `hexstr` parameters are not `str`, in any of the conversion methods.

[2018-02-13 00:01] njgheorghita commented on #60
@carver would it be better to do this as a decorator? or inside the function

[2018-02-13 00:26] carver commented on #60
I expect decorator would be a slight performance hit, but maybe cleaner. I don't have strong feelings on it, maybe a slight lean toward decorator.

A `@validate_conversion_arguments` decorator could do the type checks as well as make sure only one value is specified.

[2018-02-13 20:28] pipermerriam commented on #46
@njgheorghita can you do this as well.  Should let us release what should be one of the last few v0 releases.

[2018-02-15 16:58] njgheorghita commented on #46
not sure why this didn't close when the pr was merged (doesn't putting `closes #46` do that automatically?) - but this issue should be good to close

[2018-02-15 18:34] ztane opened #64 "eth-utils 1.0.0-beta.1 not found in PyPI"
### What was wrong?

The versions of `eth-keyfiles` and `eth-keys` were published on PyPI and depend on the version eth-utils 1.0.0-beta.1 that is not published on PyPI / or is hidden by default

### How can it be fixed?

Publish 1.0.0-beta.1 on PyPI? (Or fix the dependencies for now)

[2018-02-15 18:38] #64 closed

[2018-02-15 18:38] ztane commented on #64
nvm, it is there, just not displayed by default.

[2018-02-15 19:02] #60 closed

[2018-02-15 19:41] sergeybe opened #65 "Many many warnings when application is run"
* Version: 0.8.0
* Python: 3.5
* OS: osx/linux/win

### What was wrong?

I have many-many lines when I run my program an I can't omit them:

[code]
Code for reproduce
[code]

### How can it be fixed?

Please don't use filters for warning in library code. They are only for applications:
[code]

There is no easy way to switch off warnings from my application.

[2018-02-16 07:05] freeatnet commented on #65
+1. Here's a [standard CI job](https://travis-ci.org/forkdelta/tokenbase/builds/337569437) with ~600 lines of output, and here's the [same CI job](https://travis-ci.org/forkdelta/tokenbase/builds/342136921) with the new deprecation warnings: it's got >10,000 lines!

[2018-02-20 17:53] pipermerriam commented on #65
Getting this cleaned up and released hopefully later today.

[2018-02-20 18:16] carver opened #68 "Fail fast if decode_hex is passed bytes"
* Version: 1.0.0-beta.2
* Python: 3.6
* OS: linux

### What was wrong?

`decode_hex()` was passed a `bytes` value, and it wasn't caught until deep in the eth-utils stack. Took an extra second to debug.

### How can it be fixed?

Immediately reject non-`str` values to `decode_hex`

[2018-02-21 16:35] #36 closed

[2018-02-21 17:40] #68 closed

[2018-02-23 06:03] jacobAtAnalytixBar opened #73 "ImportError when importing pad_left and pad_right from eth_utils"
* Version: Latest
* Python: 3.5
* OS: osx/linux

### What was wrong?

Code:
**from eth_utils import (
            pad_left,
            pad_right,
        )**

Error message:
**"Exception Value: | cannot import name 'pad_left'"**

### How can it be fixed?

It looks like in the more recent version of eth_utils, there is no longer a file called "formatting.py" which contains the function defs for pa

[2018-02-23 06:36] carver commented on #73
Can you be more specific?

[2018-02-23 06:44] jacobAtAnalytixBar commented on #73
Yes sorry - here is the version as returned by "pip list":  eth-utils (1.0.0b2)

[2018-02-23 19:01] carver commented on #73
Can you post the full `pip freeze`? Updating to the latest version of web3.py fixes these issues AFAIK.

[2018-02-23 20:04] jacobAtAnalytixBar commented on #73
You're right.  I was using older version of Web3 - moreover I was using Piper's version which was last updated in November.  My apologies and thanks for your quick replies.

[2018-02-27 13:37] palango opened #74 "make `keccak` work for bytearrays"
* Version: 1.0.0b2
* Python: 3.6
* OS: osx

### What was wrong?

When trying to hash a bytearray with the `keccak` function (`keccak(bytearray(b'abc'))`) it throws the following error:
```TypeError: expected an int in first arg, or keyword of hexstr or text```

There are to problems:
- The error message seems wrong, as the first argument can be a boolean or `bytes`
- More important: hashing should

[2018-02-27 15:26] pipermerriam commented on #74
Adding support for this seems like it should be quite trivial.  +1 to adding it.  Would you be willing to make the pull request?

[2018-02-27 15:27] pipermerriam commented on #74
@carver thoughts on whether this belongs in `eth-hash`?

[2018-02-27 15:32] palango commented on #74
Yes, I can create a PR. Just wanted to know if it makes sense for you. This would also require small changes to `eth_hash`.

[2018-02-27 15:42] pipermerriam commented on #74
Can you expand on that, seems like we *can* make the necessary normalization right here within `eth-utils` without any changes to `eth-hash`

I am supportive of adding support for `bytearrays` to the `eth-hash` library though so feel free to make the necessary PR to `eth-hash` and whatever changes needed in `eth-utils` to allow `bytearray` types to the `keccak` function here.

[2018-02-27 15:49] palango commented on #74
We could either convert all bytearrays to bytes in `eth-utils` or fix the type checks in `eth-hash` like here: https://github.com/ethereum/eth-hash/blob/master/eth_hash/main.py#L8

[2018-02-27 16:35] carver commented on #74
Two initial thoughts:

1. It's nice to keep `eth-hash` very simple, so in general converting to bytes does not belong in eth-hash, IMO. For example, converting from a hex string to bytes should stay in eth-utils.
2. `bytes` and `bytearray`  are used nearly interchangeably in various places in the Python standard library. We've typically only supported `bytes` in web3.py for simplicity, but it's a

[2018-02-27 16:47] pipermerriam opened #75 "Add support for `bytearray`s in the various conversion utils"
### What was wrong?

We don't support `bytearrays` in most/all of the various conversion utils.  Since `bytearray` and `bytes` types are interchangeable in *many* ways, and supporting both is trivial, we should add support.

### How can it be fixed?

Add support to the conversion utils for `bytearray` types in the primitive field, like: `to_int`, `to_bytes`, `to_hex`, `to_text` and anywhere else t

[2018-02-27 22:37] pipermerriam commented on #75
link https://github.com/ethereum/eth-hash/pull/5

[2018-02-28 00:35] #73 closed

[2018-02-28 00:35] #65 closed

[2018-02-28 00:36] #14 closed

[2018-02-28 17:15] palango commented on #74
This will be fixed as soon as a new eth-hash version is released and required in eth-utils.

[2018-02-28 17:33] pipermerriam commented on #74
`eth-hash==0.1.0` has just been released.  You can bump the dependency to `eth-hash>=0.1.0,<1.0.0`

[2018-02-28 19:38] #75 closed

[2018-02-28 20:55] #74 closed

[2018-03-07 11:30] santai87 opened #81 "Ubuntu-16.04 cannot run populus and error message is "ImportError: cannot import name 'force_text'""
* Version: 2.2.0
* Python: 3.5.2
* OS: linux
* eth_utils: 1.0.1

### Problem Description

1. Use pip install populus
`pip install populus`

2. Type this command

`populus compile`

3. Show error message
[code]

### How can it be fixed?

Probably the new version of eth-utils has no function named 'force_text' and populus uses it.

Need a method that can compile populus from source code

[2018-03-07 13:03] santai87 commented on #81
Try `pip install --upgrade web3`

[2018-03-14 10:18] rakanalh commented on #73
I also see this issue when i try to run web3's tests.

I have web3 and eth-utils installed manually based on their latest master branches.

[code]

pip freeze shows:
[code]

[2018-03-14 13:58] Netherdrake commented on #81
Ran into the same issue, @santai87's answer worked as a quick "fix".

[2018-03-14 16:54] pipermerriam commented on #73
`pad_left` and `pad_right` were removed from web3.py.  You likely need to update your web3.py to the latest master or downgrade `eth-utils` to a pre `1.0` version.

[2018-03-14 17:01] pipermerriam commented on #73
Actually, it looks like you need to upgrade your `eth-tester` version.

[2018-03-19 20:03] Netherdrake commented on #81
This issue is still thorny, and unfortunately in some situations `pip install -U web3` won't do.
https://github.com/ethereum/eth-keys/issues/39

[2018-03-26 22:25] pipermerriam opened #82 "apply_key_map behaviour is ambiguous if remapping would overwrite other field."
* Version: 1.0

### What was wrong?

The `apply_key_map` function can be both non-deterministic as well as ambiguous to what the proper behavior is when a remapped key collides with a non-remapped key.

[code]

### How can it be fixed?

I think the proper behavior to fix both of these issue is to do the following check

[code]

If there are any key conflicts then refuse to apply the remapping, rai

[2018-04-04 20:55] carver opened #85 "Don't accept `str` as a primitive in `to_hex()`"
* Version: 1.0.2
* Python: 3.5
* OS: osx/linux/win

### What was wrong?

`to_hex()` shouldn't presume the kind of `str` value in primitive. It's the kind of ambiguity we aim to avoid, using `hexstr` and `text` keyword args:
https://github.com/ethereum/eth-utils/blob/master/eth_utils/conversions.py#L41-L42

### How can it be fixed?

`to_hex()` should reject `str` values, by raising a TypeError and

[2018-04-10 20:07] palash25 commented on #85
Can I take a crack at this @carver ?

[2018-04-10 20:40] carver commented on #85
Sure! :+1:

[2018-04-13 13:26] #82 closed

[2018-04-18 06:40] hbprotoss opened #91 "unexpected upper() called in to_checksum_address(address)"
https://github.com/ethereum/eth-utils/blob/c06d26119cd8062cf4e75d87a620c2d5892151ee/eth_utils/address.py#L118

norm_address[i] should not invoke `upper()`.

In that case, address is '0x8eb009288b68c343de5bc393a7e13c28f5425780', checksum_address is '0x8EB009288b68C343DE5Bc393a7e13C28F5425780'.

`is_checksum_address(value)` returns `False`. The two addresses should be compared case-insensitively, al

[2018-04-18 18:11] pipermerriam commented on #91
Again, this is not a bug.

The plain address is  `0x8eb009288b68c343de5bc393a7e13c28f5425780`

The checksummed address is `0x8EB009288b68C343DE5Bc393a7e13C28F5425780`

Note the mixed case of the checksummed address.  The casing differences encode the checksum for the address.

The function `to_checksum_address` takes an address and returns the checksummed values.  The `upper()` call you link to is

[2018-04-18 18:11] #91 closed

[2018-04-19 00:42] hbprotoss commented on #91
@pipermerriam So `0x8eb009288b68c343de5bc393a7e13c28f5425780` is an invalid address?

[2018-04-19 02:41] hbprotoss commented on #91
And all addresses passed to web3.py must be checksummed address?

[2018-04-19 03:44] carver commented on #91
Yes

[2018-04-30 11:57] gsalgado opened #95 "to_bytes() adds significant overhead to keccak()"
That function seems to add a big overhead to `keccak()`, and given its performance-critical nature I think we should consider dropping it (making keccak() accept only `bytes`). Here are some numbers showing the overhead it adds when compared to running the backend implementation directly:

[code]

[code]

[2018-04-30 18:42] carver commented on #95
I get why trinity would want to use eth-hash's keccak, but I don't understand the desire to remove the convenience one from eth-utils.

[2018-05-02 07:40] gsalgado commented on #95
Mainly because doing it implicitly on every call adds significant overhead to a performance-critical piece of code, but I'd also argue that there's no point in having a `keccak` func in two different `eth-` packages

[2018-05-02 16:26] pipermerriam commented on #95
I think I'm now 👎 on removing `keccak` from `eth-utils`.  They may be a minority use case, but having a `keccak` available which *can* take encoded hex and utf8 strings is useful and use cases which require performance can directly use `eth-hash`.

[2018-05-02 16:51] carver commented on #95
Maybe it would help to add a note about performance in the eth-utils docs, and link to eth-hash's `keccak`?

[2018-05-02 18:43] PabloLefort opened #98 "To normalized address throws ValueError"
* Version: 1.0.3
* Python: 3.6
* OS: osx

Running the same example off the Readme:
`to_normalized_address('0x000000000000000000000000c305c901078781c232a2a521c2af7980f8385ee9')`
throws:
[code]

[2018-05-02 20:48] carver commented on #98
IIRC, we dropped support for 32-byte addresses on the transition to v1, so this is a documentation bug.

[2018-05-03 11:36] PabloLefort commented on #98
All right. A workaround could be:
[code]
Seems good for you @carver ?

Thanks in advance! :rocket:

[2018-05-03 15:38] pipermerriam commented on #98
@PabloLefort I think you're code will fail if the address starts with any byte value or values which start with `0` when hex encoded.  Try the following.

[code]

Haven't tested the code above but it should get you moving in the right direction.

[2018-05-03 15:38] #98 closed

[2018-05-09 20:29] carver opened #101 "Add a replace_exceptions decorator"
### What was wrong?

Exception replacement is a common need when stitching together a lot of libraries.

Web3.py and eth-tester can both use it, at least.

### How can it be fixed?

Add a `replace_exceptions` implementation, like the one in eth-tester:

https://github.com/ethereum/eth-tester/commit/9f92225bf1a2155ce7ebb5a0dc22ed3ab4895b5e

[2018-05-09 22:59] pipermerriam opened #102 "Expand currency test suite to fuzz test using float values."
### What was wrong?

The test suite for `to_wei` is not doing fuzz testing against inputs of `float` type.  This should be done as I'm not currently sure that there aren't odd float values that won't produce un-expected results.

### How can it be fixed?

Add `float` inputs to the fuzz testing suite to see that `from_wei(to_wei(v, 'ether'), 'ether') == decimal.Decimal(str(v))` for `float` inputs.

[2018-05-21 20:19] davebryson opened #104 "is_hex() doesn't work as shown in readme"
* Version: 1.0.2
* Python: 3.6
* OS: osx

### What was wrong
`is_hex()` doesn't work as shown in readme:

[code]
It appears to only expect a str.

[2018-05-21 21:37] carver commented on #104
Thanks! Update to readme inbound.

[2018-05-21 21:43] #104 closed

[2018-06-22 04:37] nth193 opened #112 "ImportError: cannot import name 'apply_formatter_at_index'"
* Version: 1.0.3
* Python: 3.5
* OS: linux(Ubuntu 16.04)

### ImportError: cannot import name 'apply_formatter_at_index'

[code]

### How can it be fixed?

[2018-06-22 15:21] pipermerriam commented on #112
can you post the output of `pip freeze`

[2018-07-06 04:09] pipermerriam commented on #85
@stefanmendoza go for it

[2018-07-06 05:22] palash25 commented on #85
I didn't know this issue was still open I thought my PR must have closed this. Well in that case go for it @stefanmendoza

[2018-07-06 14:31] stefanmendoza commented on #85
@palash25 ah, nevermind. Missed the PR in the history on this. I think this is good to close then. 👍

cc @pipermerriam / @carver

[2018-07-06 18:50] #85 closed

[2018-07-31 20:35] pipermerriam opened #114 "Add `ValidationError`"
### What was wrong?

https://github.com/ethereum/py-evm/issues/1125#issuecomment-409352860

It would be useful to have a common `ValidationError` exception that can be used across libraries.

### How can it be fixed?

Add a new module `eth_utils.exceptions` and add a `ValidationError` exception to that module.  Make it importable as `from eth_utils import ValidationError`

Follow-up:

- [ ] use ne

[2018-08-15 11:30] glaksmono opened #116 "vyper 0.0.4 has requirement ethereum==2.1.3"
* Python: 3.6.4
* OS: osx

### What was wrong?

[code]

### How can it be fixed?

Make the requirement `ethereum >= 2.1.3` ?

[2018-08-15 16:47] #114 closed

[2018-08-15 16:51] pipermerriam opened #117 "Backfill changelog"
### What was wrong?

Looks like we've forgotten to update the CHANGELOG since `v0.7.3`

### How can it be fixed?

Browse through the list of closed pull requests and/or issues in the commit ranges between each version, or the commits themselves and populate the `CHANGELOG`.

[2018-08-15 16:52] pipermerriam commented on #117
@owocki if you have budget, this is a good busy work non-programmer task that will probably take an hour for someone to do.  Something like a $30-$50 bounty should be adequate.

[2018-08-15 18:52] srisankethu commented on #117
@pipermerriam I need some eth to submit my work on gitcoin. I have applied for some ETH on [Gitcoin Faucet](https://gitcoin.co/faucet). Will submit as soon as I receive some. Thank you.

[2018-08-15 21:12] owocki commented on #117
@srisankethu approved!

[2018-08-16 00:44] srisankethu commented on #117
@owocki Thank you! Submitted [my work](https://etherscan.io/tx/0x8c7fe1e9a890b62efe8162d5e001a70735e42250afccc6ae8039a147ccce591a)

[2018-08-16 00:57] srisankethu commented on #117
Oh my! almost 5 days for confirmation? I selected "average" which showed $0.1 and 239 minutes as transaction time. Definitely need to fix this.

[2018-08-16 02:04] owocki commented on #117
@srisankethu yeah, the eth gas price estimations are a thing we need to achieve more reliability around.  meantime, you can submit your tx in metamsk https://github.com/gitcoinco/gitcoinco/issues/50

[2018-08-16 06:45] srisankethu commented on #117
Submitted. thanks! @owocki

[2018-08-16 17:50] owocki commented on #117
@carver @pipermerriam let me know if/when ok to payout

[2018-08-16 21:29] #117 closed

[2018-08-16 21:29] pipermerriam commented on #117
:+1: good to pay out.  Thanks @srisankethu for getting this done for us.

[2018-08-16 23:42] carver commented on #116
I think this issue is on the wrong repo. There is no `ethereum` dependency in `eth-utils`. Try `pipdeptree` to figure out what package has what dependency.

[2018-08-16 23:42] #116 closed

[2018-08-17 01:18] voith commented on #116
@glaksmono I suspect that the issue is with your vyper version.
In a fresh `virtualenv` try installing latest version of `vyper`:
`pip install "vyper==0.1.0-beta.2" `

[2018-08-19 20:47] pipermerriam opened #122 "Convert documentation to readthedocs"
### What was wrong?

Documentation is currently all README based

### How can it be fixed?

Convert documentation to be Sphinx based and host on readthedocs.

[2018-08-25 00:40] EdwinGuo commented on #112
Any luck on this thread? Run into the same issue.

OS, mac High Sierra, version 10.13.4.
python3.6

argcomplete==1.9.3
asn1crypto==0.24.0
attrdict==2.0.0
backoff==1.6.0
base58==1.0.0
bitcoin==1.1.42
boto3==1.7.69
botocore==1.10.69
certifi==2018.4.16
cffi==1.11.5
cfn-flip==1.0.3
chardet==3.0.4
click==6.7
coincurve==8.0.2
cytoolz==0.9.0.1
docutils==0.14
durationpy==0.5
erc20token==0.1.8
eth-abi==1.1

[2018-08-26 01:54] pipermerriam commented on #112
I highly suspect this is an environmental error of some kind.  I'd recommend wiping your python environment and re-installing.  If it is not fixed then, I'd be interested to see the actual contents of the source file in `eth_utils/__init__.py` as it is installed in your python environment.

[2018-08-26 14:08] jluttine opened #124 "setuptools-markdown dependency unnecessary"
PyPI supports Markdown formatted README files nowadays: https://packaging.python.org/guides/making-a-pypi-friendly-readme/

Thus, the dependency on `setuptools-markdown` can be removed. Also from the other `eth-*` packages.

[2018-08-26 14:10] jluttine commented on #124
Hmm.. I may be wrong, actually. Perhaps the long_description field is required whenever packaging, so it's not PyPI related. Anyway, just for your information.

[2018-08-27 03:53] pipermerriam opened #125 "Constrain versions to disallow Python 3.5.2"
### What was wrong?

See https://github.com/ethereum/web3.py/issues/1012#issuecomment-415183759

Python 3.5.2 has a bug...

### How can it be fixed?

In the `setup.py` file, add a new line for `python_requires` like this from web3.py: https://github.com/ethereum/web3.py/blob/master/setup.py#L33

Use the requirement string: `>=3.5,!=3.5.2,<4` to restrict the python versions.  It might just be a `!`

[2018-08-30 21:35] njgheorghita commented on #122
completed in #111

[2018-08-30 21:35] #122 closed

[2018-08-31 17:39] Arbitrage0 commented on #125
Think I solved it, first timer here.

[2018-09-03 23:37] carver commented on #124
Hm, I'm not *sure* we've tried this line from the linked docs:

[code]

I'd be happy to get rid of the dependency, but also... it's working and not at the top of my list to test out this change. If someone feels like testing with a dummy pypi deployment to confirm that the content-type change would work, I'm happy to :+1: a PR making the change.

[2018-09-11 12:55] jluttine opened #130 "Add tests to release tarball (in PyPI)"
Could you include tests in the source tarball in PyPI? I think it's good practice:

- https://docs.python.org/2/distutils/sourcedist.html#specifying-the-files-to-distribute
- https://stackoverflow.com/a/20180000

This way one can run the tests after installing the package. Also, I'm currently packaging this for a Linux distro, and it would be really helpful to be able to run the tests as a part of

[2018-09-11 17:01] pipermerriam commented on #130
@jluttine can you explain your use case a bit more?  We have been intentional about not shipping the tests with the code because:

1. It bloats the size of the package we ship.  In some cases this bloat would be significant due to testing fixtures, etc.
2. It ensures that our tests are fully separate from the module code.

If you are packaging up the library for distribution, is there a reason why

[2018-09-12 05:29] jluttine commented on #130
As far as I know, it's quite common practice to include tests in PyPI so that it's possible to use the "official" release tarball. For instance, NumPy, SciPy, Pandas and many many others ship tests in the release tarball last time I checked. Of course, it is possible to use the corresponding git commit if it's tagged and the release tarball in PyPI has been generated from that commit without any s

[2018-09-28 22:33] carver opened #136 "Import from the curried versions of toolz"
*### What was wrong?

`eth_utils.toolz` does not provide access to the curried versions of the methods

### How can it be fixed?

Add another `eth_utils.toolz.curried` module just like the `toolz` one, but importing from `toolz.curried.*`.

[2018-10-05 18:34] carver opened #137 "Should is_hex() return False if the argument is not a str?"
### What was wrong?

It might be inconvenient for people to have `is_hex()` raise a `TypeError` if the argument is a string. It always forces a double-check:

[code]

### How can it be fixed?

We could simply `return False` if the value is not a `str`. If this is the route we go, it should be added to v2-alpha, but not v1. There are backwards incompatibility problems, like:

[code]

@pipermerriam

[2018-10-11 15:50] pipermerriam opened #139 "Add `import_string` to docs"
### What was wrong?

The `import_string` function isn't documented.

### How can it be fixed?

Add basic docs.

[2018-10-11 15:51] pipermerriam commented on #137
:+1: to `is_hexstr()` and maybe adding a deprecation warning to `is_hex`

[2018-10-11 16:04] pipermerriam commented on #130
Well, upon further investigation, it looks like you're right (and I'm just stubborn :smile: ).  My general guideline has been if django does it then it's probably fine, and it seems django does indeed include the tests.  I'm :+1: on this.  cc @carver

[2018-10-11 17:01] carver commented on #130
Hm, they also do custom testing with `runtests.py` and a custom requirements file:
https://github.com/django/django/blob/2f7cd7f8ecb01d30c1dfdaefa1c1714db76d2553/tox.ini#L23-L30

When people run tests in sub-projects, are they expected to dig into the package to figure out the extra pip requirements, and the custom testing command?

[2018-10-11 17:49] pipermerriam commented on #130
I guess my thoughts are that I don't have an opinion on how people in sub-projects run the tests, nor is it something I plan to support, only that we'll include them so that they *can* do this if they wish to do the heavy lifting.

[2018-10-12 23:07] pipermerriam opened #140 "Enable discovery of type data via PEP561"
Do the same as was done in https://github.com/ethereum/eth-typing/pull/10

[2018-11-01 22:19] feuGeneA commented on #140
Yes, please.

[2018-12-19 20:22] davesque opened #144 "Is `eth_utils.abi.collapse_if_tuple` private or public API?"
_Originally posted by @pipermerriam in https://github.com/ethereum/eth-utils/pull/143#issuecomment-448722217_

[2018-12-20 17:11] carver commented on #144
Right, so I think `collapse_if_tuple()` belongs in `eth-abi`, except that `eth-abi` depends on `eth-utils`, and `eth-utils` uses the method for `function_abi_to_4byte_selector()` and `event_abi_to_log_topic()`.

I think maybe the *right* solution is to deprecate those last two methods, with the intention to move them into `eth-abi`. Then `collapse_if_tuple` can move into `eth-abi` too.

So maybe `

[2019-01-11 09:48] Bhargavasomu opened #145 "Decorator to convert to NamedTuple"
### What was wrong?
Maybe it would be better if we had a `decorator` to convert key value pairs coming out in the form of `generators` or `dictionaries` to a `NamedTuple`. Something on the lines of `to_NamedTuple(tupleType)`.

### How can it be fixed?
It should be simple to add the decorator from the existing API similar to `to_dict` etc

[2019-01-11 16:18] #140 closed

[2019-01-11 16:41] Bhargavasomu commented on #145
@pipermerriam the following points were what I was thinking.
* The `decorator` would have to take a `NamedTuple derived class` as an argument and will convert the input `generator object` or `dict` to the `NamedTuple class` which was passed as argument to the `Decorator`.
* The above stated passing as `argument` should also solve the type hinting issue.

For example,
[code]
Because we are passing

[2019-01-11 18:12] pipermerriam commented on #145
Yes, that should be viable, though maybe we can start with the implementation living in the `trinity` codebase where I think you're looking to use this and elevate it to an `eth-utils` API if it proves useful.

[2019-04-17 16:53] pipermerriam opened #152 "The `to_tuple` type decorators don't correctly handle generics for item types."
### What was wrong?

When using `to_tuple` on a function which operates on a generic type, type safety is not preserved.

[code]

### How can it be fixed?

???

[2019-04-17 17:52] pipermerriam opened #153 "New tests to validate type safety is preserved"
### What was wrong?

From: https://github.com/ethereum/eth-utils/pull/151

Looks like `flatten_return`, `reversed_return` and `sorted_return` don't do a good job of retaining type safety.  It's not easy to write a test for this now.

### How can it be fixed?

Figure out how to easily write tests that demonstrate both positive and negative assertions about mypy checks.

[2019-04-18 04:54] pipermerriam commented on #152
Not clear yet but this **might** be fixable using https://mypy.readthedocs.io/en/latest/extending_mypy.html#current-list-of-plugin-hooks

[2019-04-22 18:16] pipermerriam opened #156 "Curried functions don't play nicely with type hinting"
### What was wrong?

Now that `eth-typing` is properly exposing types for functions and `mypy` is better at using those, this code throws errors.

[code]

### How can it be fixed?

There may be a better way but the following seems to work.

Use [`typing.overload`](https://docs.python.org/3/library/typing.html#typing.overload) to manually declare the various allowed signatures and then define the c

[2019-04-22 22:18] davesque commented on #156
Yeah, at times I've thought we should ease back on the functional stuff.  This feels like one good example of why.  Other times, I think functional code can actually be less readable (and is probably inherently less performant in many cases).  I'm in favor of it when it improves readability and stability.

[2019-04-25 16:30] pipermerriam opened #157 "from_wei and to_wei argument order should be reversed."
### What is wrong.

I think the argument order of `to_wei` and `from_wei` is backwards.

This is based on trying to curry these functions and having to use a keyword argument for the units since it comes second.  Ideally we should be able to do `to_ether = eth_utils.curried.from_wei('ether')`

### How can it be fixed.

This should go though a full and long deprecation cycle.  We should be able to

[2019-04-25 21:54] carver commented on #157
The hitch I see here is the natural order of describing it in English, "1 ether". Converting to "ether 1" from wei sounds really weird in my head. Usually I'm pretty loose on the argument ordering, and prefer the most natural currying order. But these two arguments seem to have a super natural ordering.

Other than some annoyance about having to type out currying via kwarg (which hopefully isn't h

[2019-04-25 22:16] pipermerriam commented on #157
I'm convinced they are better left as-is.  Good argument about natural ordering.

[2019-04-25 22:16] #157 closed

[2019-05-16 16:49] pipermerriam opened #159 "Cache whether `DEBUG2` is enabled on `ExtendedDebugLogger`"
### What was wrong?

The previous implementation of `ExtendedDebugLogger` cached whether the `DEBUG2` level was enabled.

https://github.com/ethereum/py-evm/blob/5c080532168f38023bfebcd4ec60bb68c70fd29d/eth/tools/logging.py#L9-L13

### How can it be fixed?

Use the same pattern for the `eth-utils` version of the logger.

[2019-05-17 11:36] palango opened #160 "Use types from eth-typing"
### What was wrong?

`eth_utils` defines own type aliases and doesn't use the ones that `eth_typing` defines. Is there a reason for it? Otherwise it would be nice to use `eth_typing` in the whole ecosystem.

[2019-06-11 20:29] palango commented on #160
Fixed by #163

[2019-06-11 20:29] #160 closed

[2019-08-19 13:19] jannikluhn opened #168 "`to_wei` type hint too strict"
### What was wrong?

The type hint for [to_wei](https://github.com/ethereum/eth-utils/blob/faff9e0a7373b623b3203f6046cbf75d7400b07a/eth_utils/currency.py#L64-L102) only allows `int`s, but the implementation also accepts `float`s, `str`s, and `Decimal`s.

### How can it be fixed?

Update the type hint to, if I haven't missed anything, `Union[int, float, str, Decimal]`.

[2019-08-29 16:55] pipermerriam opened #169 "Add towncrier"
### What was wrong?

`towncrier` is working well for release notes.

### How can it be fixed?

Follow the setup from https://github.com/ethereum/web3.py/pull/1431 and add it to this repo.

[2019-08-30 07:51] Patil2099 commented on #169
@pipermerriam Can I work on this issue?

[2019-08-30 08:39] cburgdorf commented on #169
@Patil2099 Absolutely!

[2019-09-02 08:13] Patil2099 commented on #168
Can I work on this issue? @jannikluhn @pipermerriam

[2019-09-02 12:32] #169 closed

[2019-09-03 08:01] cburgdorf commented on #168
@Patil2099 feel free to tackle this!

[2019-09-30 08:13] oberstet opened #173 "eth_utils.address: fails on pypy 7.1"
I am trying to get an app that (indirectly) uses eth-utils and which runs fine on CPython to run on PyPy.

I've narrowed down the issue I seem to run into down to the following difference in behavior on CPython and PyPy .. I haven't identified the root cause / code though. Anything I might try?

Test program:

[code]

When run on CPython (success):

[code]

When run on PyPy (failed):

[code]

[2019-09-30 16:53] pipermerriam commented on #173
What version of `pypy` are you running.

[2019-09-30 16:57] pipermerriam commented on #173
Nevermind, I see it in the code block you dumped.

Looking at our CI runs which do test against `pypy` it looks like we're testing against `7.0.0`.

https://circleci.com/gh/ethereum/eth-utils/1851

Your version appears to be newer (and in beta).

[2019-09-30 17:49] oberstet commented on #173
Yes, you're right! Thanks for pointing that out=)

I retested with both versions of PyPy for both above code snipped and the actual code I'm working on. Results are:

**It succeeds on**:

[code]

**and fails on**:

[code]

---

In summary, PyPy 7.0 is fine! The current beta PyPy 7.1 runs into this issue.

[2019-09-30 19:13] pipermerriam commented on #173
Ok, with that said, I'm still curious to understand why this is failing.  It seems `is_address` is returning `False` (where it should return `True`).  That implies one of `is_hex_address`, `is_binary_address` or `is_checksum_formatted_address` is mis-behaving, returning `False` when it should return `True`.  Based on your code example it looks like `is_binary_address` is probably the offender.  Ca

[2019-09-30 19:40] oberstet commented on #173
mmh, not sure, that seems to return the same on both pypy versions:

[code]

and

[code]

[2019-09-30 20:28] pipermerriam commented on #173
problem appears to be with the `is_hex` check.  This specifically is the offending line:

[code]

In CPython and the previous version of `pypy` this line returns a bytestring.

[2019-09-30 20:37] oberstet commented on #173
oh yes! seems to be an issue in pypy-7.1 .. as in:

[code]

[2019-09-30 20:37] #173 closed

[2019-11-20 23:29] feuGeneA opened #176 "Wrong type hint for remove_0x_prefix"
* Version: 1.8.1
* Python: 3/8/2
* OS: linux

### What was wrong?

I have some existing code that uses `remove_0x_prefix()`, and I've been running mypy on my code in my CI system for quite some time, and upon the upgrade to eth_utils 1.8.1 my mypy runs started failing.  Here's a stripped down repro, using the example from the doc for this function:

[code]

[code]

[2019-11-21 00:02] pipermerriam commented on #176
We are now using the type `eth_typing.HexStr` to enforce differentiation between normal `str` types and hex encoded data as a string.  You can do this:

[code]

[2019-11-21 00:03] feuGeneA commented on #176
Then isn't this a bug in the docs?

[2019-11-21 00:09] feuGeneA commented on #176
The doc says this function's argument "`must be string literal.`"  If you follow the doc, you end up with a mypy error.  Seems to me that either the type annotation should be amended to permit a string literal, or the doc should be updated to say it requires a `HexStr`.

[2019-11-21 20:03] pipermerriam commented on #176
cc @njgheorghita yes, definitely a docs bug that should be updated.

[2019-11-25 16:15] #176 closed

[2019-11-25 16:15] #28 closed

[2019-12-05 09:21] #168 closed

[2019-12-27 20:27] Swixx commented on #137
@pipermerriam can I take this?

[2020-01-14 19:33] #137 closed

[2020-02-29 11:50] tirkarthi opened #184 "Importing ABC directly from collections was deprecated and will be removed in Python 3.10"
* Version: master
* Python: 3.10
* OS: linux

### What was wrong?

Importing ABC directly from collections was deprecated and will be removed in Python 3.10

[code]

### How can it be fixed?

Use collections.abc for Python 3

[2020-04-10 07:36] #184 closed

[2020-04-12 06:39] wizzfile opened #187 "pkg_resources"
https://github.com/ethereum/eth-utils/blob/8f771b71e6081fcb4e560e44b4b31a378fdb341e/eth_utils/__init__.py#L22

[2020-04-16 18:21] #187 closed

[2020-05-14 17:46] carver opened #192 "Update methods to return type Hash32 where appropriate"
### What was wrong?

A number of methods return a value from `keccak` which is guaranteed to be 32 bytes. For example, see:
https://github.com/ethereum/eth-utils/blob/d05279c6af22b9e7defc0d7a5df0d7d3422e2061/eth_utils/abi.py#L54-L60

Other methods that require the 32-byte input type `Hash32` currently require a cast when output from something like `event_signature_to_log_topic()` is already guaran

[2020-05-26 17:32] pipermerriam opened #194 "Add `humanize_wei` helper"
### What was wrong?

The humanize utilities could potentially benefit from a `humanize_wei` function for easy human readable ether values

### How can it be fixed?

Exact behavior probably has some room for opinions on the most readable format but at a high level, the function should convert the value to the representation that reduces trailing zeros.

It *might* be good to prioritize certain more

[2020-08-25 21:25] #156 closed

[2020-10-02 05:54] pratik-vii commented on #192
@carver as you mentioned in fix, it wont be true for the method `function_signature_to_4byte_selector` as it applies `keccak` before return but only returns 4-Bytes. Is my understanding correct or there is other reason to it.

[2020-10-05 16:14] carver commented on #192
Ah yes, that's a typo. Thanks for pointing it out! :+1:

Of those listed currently, only the `log_topic`s should be a `Hash32`. I'll fix it in the issue. Note that I did not do a thorough search for all methods that should be updated, so part of the task is to identify all functions that should be updated.

[2021-01-21 00:29] carver commented on #124
This change is implemented in #207

[2021-01-21 00:29] #124 closed

[2021-02-21 10:59] hwwhww opened #210 "DeprecationWarning: The toolz.compatibility module is no longer needed in Python 3 and has been deprecated."
## What was wrong?

https://github.com/ethereum/eth2.0-specs/issues/2207

`eth-utils` shows `DeprecationWarning` from `cytoolz`/`toolz`

### Full error output

[code]

### Expected Result

Not showing this warning.

### Environment

[code]

## How can it be fixed?

Since `eth-utils` only have to support Python3.x, it seems fine to remove the imports at:

https://github.com/ethereum/eth-utils/blob/

[2021-11-18 22:49] kclowes commented on #210
Closed with #211.

[2021-11-18 22:49] #210 closed

[2022-03-04 14:42] flokli opened #218 "ModuleNotFoundError: No module named 'eth_hash' when trying to import this with poetry"
## What was wrong?
I added `eth_utils` (trough `eth_abi`) to a python project, which uses `poetry` to manage dependencies.

It seems poetry doesn't pick up `eth_hash` as a dependency of `eth_utils`:

### Code that produced the error

[code]

Output:
[code]

### Expected Result

I assume eth-utils would need to list its dependencies in `pyproject.toml`.

[2022-03-04 14:51] Shivam-Shrivastav commented on #218
Install eth-hash 0.3.2 using
[code]
It might solve the problem

[2022-03-04 15:00] flokli commented on #218
Yes, manually adding it to my project works. However, if `eth-utils` depends on `eth-hash`, it should declare this in its dependencies, no?

[2022-03-07 09:51] Rutrus opened #219 "`__version__ == 1.10.0` in version 2.0.0"
_If this is a bug report, please fill in the following sections.
If this is a feature request, delete and describe what you would like with examples._

## What was wrong?

### Code that produced the error

`pip3 install eth_utils==2.0.0`

[code]

`eth-account` requires `eth-utils==2.0.0` but exception appeared when I imported it. Not sure what module is checking the version, maybe `eth-keyfile`.

[2022-03-09 18:06] imjaimeortiz commented on #219
I'm also having this problem with `pip install web3`

`ERROR: eth-rlp 0.3.0 has requirement eth-utils<3,>=2.0.0, but you'll have eth-utils 1.10.0 which is incompatible.`

[2022-03-25 09:03] nikitagashkov opened #221 "Valid code is not considered valid by the type checkers"
## What was wrong?

The signature of `is_same_address` requires both arguments to be `eth_typing.AnyAddress`, but actually, the source code of the function allows any string to be provided.

It would be nice if the typing signature of the function became less restrictive because it is a bit cumbersome to wrap plain strings into proper types just to satisfy the type checker while adding `type: igno

[2022-05-11 17:07] Rutrus commented on #219
Could not reproduce again in clean environment.

[2022-05-20 02:43] carver commented on #218
eth-utils does [specify eth-hash as a dependency](https://github.com/ethereum/eth-utils/blob/d8b5aa197c3bf6d9d23b677556373f44a6aa3320/setup.py#L63). Have you tried using a fresh virtualenv with `pip install eth-utils`?

Closing as not a bug unless there's a problem with basic pip (will consider it a poetry bug).

[2022-05-20 02:43] #218 closed

[2022-07-04 09:28] Adi-Yakovian opened #224 "Missing `setuptools` requirement."
## What was wrong?

Missing setuptools requirement, even though it is needed [here](https://github.com/ethereum/eth-utils/blob/9d0ba061c55161849ae31a99326329534e0ed1b2/eth_utils/__init__.py#L4).

## How can it be fixed?

Add the requirement in `setup.py`.

[2022-09-27 07:01] BuckWang0509 opened #233 "parse abi to human readable solidity"
## What was wrong?

parse abi to human readable solidity

## How can it be fixed?

Add the new feature to parse abi to human readable solidity, pull request: https://github.com/ethereum/eth-utils/pull/229

[2022-10-13 09:52] maxclax opened #234 "DeprecationWarning : toolz.compatibility"
[code]

[2022-11-17 06:11] darwintree opened #236 "Provide better type hints for combomethod"
## What was wrong?

The decorator `combomethod` is widely used in `web3.py`, `eth-account` packages. However, the language server cannot infer the type of the arguments from function wrapped by `combomethod`.

## How can it be fixed?

Use [ParamSpec](https://docs.python.org/3/library/typing.html#typing.ParamSpec) added in python3.10 could fix this problem. As we need to provide support for version